.sucess {
    padding: 2px 10px 2px 10px;
    border-radius: 7px;
    font-size: 1rem;
    background-color: rgba(253, 253, 253, 0.493);
    transition: all 0.3s ease-out;
}
.sucess:hover {
    background-color:lawngreen;
    transform: scale(1.1);
}
.danger {
    padding: 2px 10px 2px 10px;
    border-radius: 7px;
    font-size: 1rem;
    background-color: rgba(253, 253, 253, 0.493);
    transition: all 0.3s ease-out;
}
.danger:hover {
    background-color:rgb(252, 0, 0);
    transform: scale(1.1);
}